
# Executables
lagrange_square/sq_lgr
lagrange_bifurcation/unstructured_three_d_fluid
lagrange_step/step_po


# Validate file
Validate

# Make files
Makefile
Makefile.in
.deps
*.swp

*.o

validation.log
