#Executables
annular_wedge_threed


# Results stuff to sort out:
test1_f_calibration/test1_2v2Strn0-75cRSGs_oomph.tar.gz
test1_f_calibration/test1_2v2Strn0-75cRSGs_oomph/
test1_f_calibration/test3_2v2Strn0-25cRSGs_oomph.tar.gz
test1_f_calibration/test3_2v2Strn0-25cRSGs_oomph/
test1_f_calibration/test4_2v2Strn0-50cRSGs_oomph.tar.gz
test1_f_calibration/test4_2v2Strn0-50cRSGs_oomph/
test1_f_calibration/test5_2v2Strn0-80cRSGs_oomph.tar.gz
test1_f_calibration/test5_2v2Strn0-80cRSGs_oomph/
test1_f_calibration/test6_2v2Strn0-90cRSGs_oomph.tar.gz
test1_f_calibration/test6_2v2Strn0-90cRSGs_oomph/
test2_full_runs/from_csf/
test3_parallel_runs/from_csf/
test4_parallel_smoother_calibration/from_csf/
test4_parallel_smoother_calibration/git_rev_oomphlib
test4_parallel_smoother_calibration/git_rev_user_drivers
test4_parallel_smoother_calibration/testlist.list
test5_amg_only_1v22/
test7_parallel_runs_testing_where_time_is_going/from_csf/

# Again, sort this out:
test3_4_parallel_runs_with_new_time/from_csf/
test3_5_fixed_bpf_bottleneck/from_csf/
test3_6_fixed_lgr_replacement_blocks/from_csf/
test3_6_fixed_lgr_replacement_blocks_ran_multiple_times/
test3_7_reverted_back_lgrprec_rpl_blocks/test1/from_csf/
test3_7_reverted_back_lgrprec_rpl_blocks/test2/from_csf/
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output.tar.gz
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.e755779.1
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.e755779.2
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.e755779.3
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.e755779.4
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.e755779.5
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.o755779.1
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.o755779.2
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.o755779.3
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.o755779.4
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.o755779.5
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.pe755779.1
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.pe755779.2
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.pe755779.3
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.pe755779.4
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.pe755779.5
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.po755779.1
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.po755779.2
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.po755779.3
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.po755779.4
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/awlgr_ndof200000_np16.qsub.po755779.5
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/temp_get_times.sh
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/timetags.txt
test3_7_reverted_back_lgrprec_rpl_blocks/test3/from_csf/qsub_output/timetags_edited.bash
test3_8_lgr_replacement_blocks_again/test1/qsub_output.tar.gz
test3_8_lgr_replacement_blocks_again/test1/qsub_output/
test3_8_lgr_replacement_blocks_again/test2/qsub_output.tar.gz
test3_8_lgr_replacement_blocks_again/test2/qsub_output/
test3_8_lgr_replacement_blocks_again/test3/qsub_output.tar.gz
test3_8_lgr_replacement_blocks_again/test3/qsub_output/
test3_9_serial_different_replacements/res_iter_times/
test3_9_serial_different_replacements/temp/
test3_9_serial_different_replacements/testoutput.dat
test3_9_serial_different_replacements/testrun.sh
test3_parallel_runs_16core.tar.gz
test3_parallel_runs_16core/
test3_parallel_runs_16core_blksetuptime2.tar.gz
test3_parallel_runs_16core_blksetuptime2/
test6_parallel_upto_16_cores/git_rev_oomphlib
test6_parallel_upto_16_cores/git_rev_user_drivers
test6_parallel_upto_16_cores/testlist_ndof200000_np1.list
test6_parallel_upto_16_cores/testlist_ndof200000_np2.list
test6_parallel_upto_16_cores/testlist_ndof200000_np4.list
test6_parallel_upto_16_cores/testlist_ndof200000_np8.list
working_parameters.sh







